* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-orange: #ef8d32;
  --color-primary-medium-gray: #555;
  --color-secondary-orange: #cc561e;
  --color-secondary-gray: #f4f4f4; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Lato", sans-serif;
  color: var(--color-primary-medium-gray);
  font-weight: 300;
  font-size: 2rem; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 400;
  margin-right: 1.5rem;
  text-decoration: none;
  outline: transparent;
  transition: all 0.2s; }

.btn:hover,
.btn:active {
  background-color: var(--color-secondary-orange); }

.feature-items-box {
  padding: 3rem; }

.feature-icon {
  font-size: 4rem;
  display: block;
  color: var(--color-primary-orange);
  margin-bottom: 1rem; }

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  text-transform: uppercase; }

a {
  text-decoration: none; }

#apple,
#google {
  height: 7rem;
  width: auto; }

.city-icon {
  color: var(--color-primary-orange);
  margin-right: 2rem;
  font-size: 2.2rem; }

.icon-link {
  color: var(--color-primary-orange); }

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical; }

input[type="submit"] {
  background-color: var(--color-primary-orange);
  color: white;
  padding: 1rem 3rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  border-radius: 20rem;
  outline: transparent;
  cursor: pointer;
  transition: all 0.2s; }

input[type="submit"]:hover {
  background-color: var(--color-secondary-orange); }

::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem; }

select {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  height: 10vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(204, 86, 30, 0.2);
  z-index: 9; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
  background-size: cover;
  background-position: top center; }

.features,
.cities {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0; }

.steps,
.plans {
  padding: 8rem 0;
  background-color: var(--color-secondary-gray); }

.testamonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/pizza_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 8rem 0;
  color: #fff; }

.form {
  width: 60%;
  margin: 0 auto;
  padding: 8rem 0; }

.footer {
  background-color: #333;
  padding: 6rem 0; }

.navbar__brand-item {
  height: 15rem;
  width: auto; }

.navbar__navigation {
  display: flex;
  justify-content: space-between; }
  .navbar__navigation-item {
    margin-right: 4rem;
    color: var(--color-primary-medium-gray);
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.2s; }
    .navbar__navigation-item:hover {
      color: var(--color-secondary-orange); }

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .header__info-heading {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    margin-bottom: 2rem; }
  .header__info-links-btn--full {
    background-color: var(--color-primary-orange);
    border-radius: 20rem;
    color: #fff;
    margin-bottom: 8rem; }
  .header__info-links-btn--outline {
    background-color: transparent;
    border-radius: 20rem;
    border: 0.1rem solid var(--color-primary-orange);
    color: var(--color-primary-orange); }
    .header__info-links-btn--outline:hover, .header__info-links-btn--outline:active {
      border: 0.1rem solid var(--color-secondary-orange);
      color: #fff; }

.features__items {
  display: flex; }

.features__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .features__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.features__intro-paragraph {
  line-height: 3.5rem;
  font-size: 2.5rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5rem;
  text-align: center; }

.features__items-1-paragraph,
.features__items-2-paragraph,
.features__items-3-paragraph,
.features__items-4-paragraph {
  font-size: 1.8rem;
  line-height: 2.9rem;
  width: 85%;
  text-align: justify;
  text-justify: auto; }

.meals__showcase {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-secondary-orange);
  overflow: hidden; }
  .meals__showcase-pics {
    height: 100%;
    width: 100%;
    opacity: .7;
    transition: transform 0.5s;
    overflow: hidden; }
    .meals__showcase-pics:hover {
      transform: scale(1.1); }

.steps__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .steps__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.steps__works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%; }
  .steps__works-phone {
    width: 50%; }
    .steps__works-phone-item {
      height: 90rem;
      width: auto; }
  .steps__works-how {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 55rem; }
    .steps__works-how-wrap {
      display: flex;
      align-items: center; }
      .steps__works-how-wrap-item {
        color: var(--color-primary-orange);
        border: 2px solid var(--color-primary-orange);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        font-size: 3rem; }
      .steps__works-how-wrap-para {
        margin-left: 3rem;
        font-size: 3rem; }
      .steps__works-how-wrap-app {
        margin: 0 auto; }
        .steps__works-how-wrap-app-android, .steps__works-how-wrap-app-apple {
          margin-right: 4rem; }

.cities__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .cities__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.cities__info {
  display: flex;
  justify-content: space-between; }
  .cities__info-card {
    width: 23%; }
    .cities__info-card-img-item {
      width: 100%; }
    .cities__info-card-img-caption {
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
      font-weight: 300;
      text-transform: uppercase; }
    .cities__info-card-stats {
      display: flex;
      flex-direction: column; }
      .cities__info-card-stats-icon {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem; }

.testamonials__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff; }
  .testamonials__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.testamonials__text {
  display: flex;
  width: 80%;
  margin: 0 auto; }
  .testamonials__text-block {
    padding: 0.4rem;
    font-size: italic;
    line-height: 2.9rem; }
    .testamonials__text-block-quote {
      margin-bottom: 3rem; }
    .testamonials__text-block-cite {
      font-size: 1.8rem;
      margin-top: 2.5rem; }
      .testamonials__text-block-cite img {
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem; }

.plans__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .plans__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.plans__card {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto; }
  .plans__card-box {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 30%; }
    .plans__card-box-price {
      padding: 1.5rem;
      border-bottom: 1px solid #e8e8e8; }
      .plans__card-box-price-monthly {
        font-size: 6rem;
        color: var(--color-primary-orange); }
        .plans__card-box-price-monthly small {
          font-size: 2rem; }
    .plans__card-box-details {
      padding: 1.5rem 2rem;
      border-bottom: 1px solid #e8e8e8; }
      .plans__card-box-details-list {
        list-style: none; }
        .plans__card-box-details-list-item {
          font-size: 2.2rem;
          padding: 1rem 0; }
          .plans__card-box-details-list-item i {
            margin-right: 1.5rem;
            color: var(--color-primary-orange); }
    .plans__card-box-wrap {
      padding: 1.5rem;
      text-align: center; }
      .plans__card-box-wrap-btn {
        background-color: var(--color-primary-orange);
        border-radius: 20rem;
        color: #fff; }
        .plans__card-box-wrap-btn--outline {
          background-color: transparent;
          border-radius: 20rem;
          border: 0.1rem solid var(--color-primary-orange);
          color: var(--color-primary-orange); }
          .plans__card-box-wrap-btn--outline:hover, .plans__card-box-wrap-btn--outline:active {
            border: 0.1rem solid var(--color-secondary-orange);
            color: #fff; }

.form__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .form__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.form__container {
  border-radius: 0.5rem;
  background-color: var(--color-secondary-gray);
  padding: 4rem; }

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 6rem; }
  .footer__navigation-list {
    display: flex;
    list-style: none; }
    .footer__navigation-list-item {
      margin-right: 2rem; }
      .footer__navigation-list-item a {
        font-size: 2.2rem;
        color: #888; }
        .footer__navigation-list-item a:hover {
          color: #ddd; }
  .footer__navigation-social {
    display: flex;
    list-style: none; }
    .footer__navigation-social-item {
      margin-right: 2rem; }
      .footer__navigation-social-item a {
        font-size: 2.2rem;
        color: #888; }
        .footer__navigation-social-item a:hover {
          color: #ddd; }
  .footer__navigation-copy {
    color: #888;
    text-align: center;
    font-size: 2.2rem; }

/*# sourceMappingURL=main.css.map */
