* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary-orange: #ef8d32;
  --color-primary-medium-gray: #555;
  --color-secondary-orange: #cc561e;
  --color-secondary-gray: #f4f4f4; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Lato", sans-serif;
  color: var(--color-primary-medium-gray);
  font-weight: 300;
  font-size: 2rem; }

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 400;
  margin-right: 1.5rem;
  text-decoration: none;
  outline: transparent;
  transition: all 0.2s; }

.btn:hover,
.btn:active {
  background-color: var(--color-secondary-orange); }

.feature-items-box {
  padding: 3rem; }

.feature-icon {
  font-size: 4rem;
  display: block;
  color: var(--color-primary-orange);
  margin-bottom: 1rem; }

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  text-transform: uppercase; }

a {
  text-decoration: none; }

#apple,
#google {
  height: 7rem;
  width: auto; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  height: 10vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(204, 86, 30, 0.2);
  z-index: 9; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero_image.jpg");
  height: 90vh;
  background-size: cover;
  background-position: top center; }

.features {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0; }

.steps {
  background-color: var(--color-secondary-gray); }

.navbar__brand-item {
  height: 15rem;
  width: auto; }

.navbar__navigation {
  display: flex;
  justify-content: space-between; }
  .navbar__navigation-item {
    margin-right: 4rem;
    color: var(--color-primary-medium-gray);
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.2s; }
    .navbar__navigation-item:hover {
      color: var(--color-secondary-orange); }

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; }
  .header__info-heading {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    margin-bottom: 2rem; }
  .header__info-links-btn--full {
    background-color: var(--color-primary-orange);
    border-radius: 20rem;
    color: #fff;
    margin-bottom: 8rem; }
  .header__info-links-btn--outline {
    background-color: transparent;
    border-radius: 20rem;
    border: 0.1rem solid var(--color-primary-orange);
    color: var(--color-primary-orange); }
    .header__info-links-btn--outline:hover, .header__info-links-btn--outline:active {
      border: 0.1rem solid var(--color-secondary-orange);
      color: #fff; }

.features__items {
  display: flex; }

.features__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
  .features__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.features__intro-paragraph {
  line-height: 3.5rem;
  font-size: 2.5rem;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5rem;
  text-align: center; }

.features__items-1-paragraph,
.features__items-2-paragraph,
.features__items-3-paragraph,
.features__items-4-paragraph {
  font-size: 1.8rem;
  line-height: 2.9rem;
  width: 85%;
  text-align: justify;
  text-justify: auto; }

.meals__showcase {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-secondary-orange);
  overflow: hidden; }
  .meals__showcase-pics {
    height: 100%;
    width: 100%;
    opacity: .7;
    transition: transform 0.5s;
    overflow: hidden; }
    .meals__showcase-pics:hover {
      transform: scale(1.1); }

.steps__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-top: 8rem; }
  .steps__intro-heading::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem; }

.steps__works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%; }
  .steps__works-phone {
    width: 50%; }
    .steps__works-phone-item {
      height: 90rem;
      width: auto; }
  .steps__works-how {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 55rem; }
    .steps__works-how-wrap {
      display: flex;
      align-items: center; }
      .steps__works-how-wrap-item {
        color: var(--color-primary-orange);
        border: 2px solid var(--color-primary-orange);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        font-size: 3rem; }
      .steps__works-how-wrap-para {
        margin-left: 3rem;
        font-size: 3rem; }
      .steps__works-how-wrap-app {
        margin: 0 auto; }
        .steps__works-how-wrap-app-android, .steps__works-how-wrap-app-apple {
          margin-right: 4rem; }

/*# sourceMappingURL=main.css.map */
