///////////////////////////////////////////////////////////
// Globals & Resets
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-orange: #ef8d32;
  --color-primary-medium-gray: #555;

  --color-secondary-orange: #cc561e;
  --color-secondary-gray: #f4f4f4;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color-primary-medium-gray);
  font-weight: 300;
  font-size: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 400;
  margin-right: 1.5rem;
  text-decoration: none;
  outline: transparent;
  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  background-color: var(--color-secondary-orange);
}

.feature-items-box {
  padding: 3rem;
}

.feature-icon {
  font-size: 4rem;
  display: block;
  color: var(--color-primary-orange);
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

#apple,
#google {
  height: 7rem;
  width: auto;
}

.city-icon {
  color: var(--color-primary-orange);
  margin-right: 2rem;
  font-size: 2.2rem;
}

.icon-link {
  color: var(--color-primary-orange);
}
