.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  height: 10vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(204, 86, 30, 0.2);
  z-index: 9;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/hero_image.jpg");
  height: 90vh;
  background-size: cover;
  background-position: top center;
}

.features {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
}

.steps {
  background-color: var(--color-secondary-gray);
}
