.cities__intro-heading {
  font-size: 4rem;
  word-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &::after {
    display: block;
    height: 0.2rem;
    background-color: var(--color-primary-orange);
    content: "";
    width: 10rem;
    margin: 3rem auto 0rem;
  }
}

.cities__info {
  display: flex;
  justify-content: space-between;

  &-card {
    width: 23%;

    &-img {
      &-item {
        width: 100%;
      }
      &-caption {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    &-stats {
      display: flex;
      flex-direction: column;

      &-icon {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
      }
    }
  }
}

// cities__info-card-img-caption
